body {
    background-image: url('vermin gifs/vermin misc/crackedice.jpg');
  }
  h1 {
    color: white;
    text-align: center;
  }
  h2 {
    color: white;
    text-align: center;
  }
  p1 {
    color: white;
    text-align: center;
  }
  p {
    color: white;
    text-align: center;
  }
  div {
    align-items: center;
  }
  summary {
    color: white;
    text-align: center;
  }
